{% include '_header.twig' %}

    <div id="site">
        <div class="home-postex" id="postex">
            <div class="clearfix animated fadeInUp" id="about-kerry">
                <a href="/about/" title="About"><img src="{{ paths.theme }}images/kerry.jpg"></a>

                <div class="content">
                    <h4>Hello, I'm Kerry.</h4>
                    <p class="larger">I'm a web developer at <a href="https://www.taskeasy.com">TaskEasy</a> in Salt Lake City.</p>
                    <p>I love working with technology, rock climbing, and gaming. Join me while I build some things and ramble about others.</p>
                </div>
            </div>

            <ul class="animated fadeInUp list-none" id="post-grid">

              {% setcontent records = "entries/latest/5" allowpaging %}
              {% for record in records %}
              <li>
                  <header class="entry-title">
                      <a href="{{ record.link }}" title="{{ record.title }}">
                        <div class="content">
                            <h2>{{ record.title }}</h2>
                            <p class="record-date">{{ record.datepublish|localdate("%A %B %e, %Y") }}</p>
                            <p class="oneliner">{{ record.excerpt(450) }}</p>
                        </div>
                      </a>
                  </header>
              </li>
              {% endfor %}

            </ul>

            <div class="view-more-posts">
                <h2>
                    <a href="entries" title="Post Archives">View more posts</a>
                </h2>
            </div>
        </div>

        <div class="photosection">
            <div class="photosection_content">
                <div class="imglist clearfix">
                    {% setcontent records = "entries" where { categories: 'Photo Section Item', image: '%.jpg%' } limit 3 %}
                    {% for record in records %}
                    <a href="{{ record.link }}" title="Photos">
                        <div class="img-masonry last-icn morepics" style="background: url({{ record.image|image }}) 0 0 no-repeat;background-position: {{ record.horizontal_image_offset }}px {{ record.vertical_image_offset }}px;">
                            <div class="photo-description">
                                <p>{{ record.title }}</p>
                            </div>
                        </div>
                    </a>
                    {% endfor %}
                </div>
            </div>
        </div>

{% include '_footer.twig' %}